.input {
  width: 300px;
  height: 26px;
  padding-left: 10px;
  padding-right: 10px;
  outline: none;
  border-radius: 0;
  border: solid 1px #000;
  transition: border .4s;
  margin-right: 10px;
  &:focus{
    border-color: #00bb00;
  }
}