.button {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: solid 1px #000;
  color: #000;
  font-size: 18px;
  cursor: pointer;
  outline: none;
  transform: scale(1);
  border-radius: 0;
  transition: .4s ease-out;

  &:hover {
    background-color: #000;
    color: #fff;
  }

  &:active {
    transform: scale(0.95);
  }
}