.item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: solid 1px #000;

  &__text {
    margin: 0 10px;
  }

  &.checked {
    opacity: .4;

    .item__text {
      text-decoration: line-through;
    }
  }
}